/* how to link the html to css? */
/* done in the html */

body{
    /*  saving this color i liked from adobe background-color:#BFA893; */
    background-color: #BFA893;
    font-family: 'Lora', serif;
    


}

/*trying to set up the content-lander classs to have some space and margin*/
.content-lander{
    padding: 2px 2px 2px 2px;
    margin: 4px 6px 4px 6px;
    border: dotted;

    /* position: relative; */
    text-align: center;
    color: white;
    
}

/*HEADER*/
header {
    
    margin-left: 4px;
    margin-right: 4px;
    padding: 2px;
    border: 4px;
    background: url(images/candles-764779_640.jpg) no-repeat center center;
    height: 200px;

    
}


header h1{
    
    color: white;
    /* margin: 0%; */
    text-align: center;
    /* background-image: inherit; */
   
    
    
    

}

/*TWO BUTTONS*/
header p .buy-button{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
    margin: auto;
    padding: 5%;
    display: inline-block;
    
    
    border: solid;
    border-color: black;
}
header p .in-cart-button {

    padding: 5%;
    margin: auto;
    
    border: solid;
    border-color: black;
    display: inline-block;

}/*END of buttons*/

.price-range-section{
    
}

